
  .Row { 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px;
    padding: 10px;
  }

  .Image {
    object-fit:cover;
    width: 10vw;
    margin-left: 10px;
    max-height:100%;
  }