.Bullets {
   height: 75%; 
}

.BulletPoints {
    text-align: left;
}

.RecoveryForH2 {
    text-align: center;
} 

.MoreFAQForAnchor {
    text-decoration: none;
}

.MoreFAQForIframe {
    width: 75%;
    height: 25%;
}